<section class="animated fadeInDown form">
  <table class="left-heading">
    <tr>
      <td>Slug</td>
      <td>collegedesis.com/d/{{view App.ContenteditableView
            valueBinding="slug"
            tagName="span"
            classBinding="isEditing:editable"
            editableBinding="isEditing"}}
        </td>
    </tr>
    <tr>
      <td>Website</td>
      <td>
        <span class="prompt">http://</span>{{view App.ContenteditableView
          valueBinding="website"
          tagName="span"
          classBinding="isEditing:editable"
          editableBinding="isEditing"}}
      </td>
    </tr>
    <tr>
      <td>Twitter</td>
      <td>
        <span class="prompt">@</span>{{view App.ContenteditableView
          valueBinding="twitter"
          tagName="span"
          classBinding="isEditing:editable"
          editableBinding="isEditing"}}
      </td>
    </tr>
    <tr>
      <td>Facebook</td>
      <td>
        <span class="prompt">facebook.com/</span>{{view App.ContenteditableView
          valueBinding="facebook"
          tagName="span"
          classBinding="isEditing:editable"
          editableBinding="isEditing"}}
      </td>
    </tr>
    <tr>
      <td>YouTube</td>
      <td>
        <span class="prompt">youtube.com/</span>{{view App.ContenteditableView
          valueBinding="youtube"
          tagName="span"
          classBinding="isEditing:editable"
          editableBinding="isEditing"}}
      </td>
    </tr>
        <tr>
      <td>Instagram</td>
      <td>
        <span class="prompt">instagram.com/</span>{{view App.ContenteditableView
          valueBinding="instagram"
          tagName="span"
          classBinding="isEditing:editable"
          editableBinding="isEditing"}}
      </td>
    </tr>
  </table>
</section>