<div class="bulletin">
  <div class="bulletin-header">
    <div class="bulletin-info">
      <h3>{{#if title}}{{title}}{{else}}No title{{/if}}</h3>
      <h5>Posted by
        {{#if authorIsOrganization}}{{#link-to 'directory.show' author}}{{author.name}}{{/link-to}}{{/if}}
        {{#if authorIsUser}}{{author.fullName}}{{/if}}
         on {{humanizedCreatedAt}}
      </h5>
    </div>
  </div>
  <div class="bulletin-body">
    {{#if body}}
      {{body}}
    {{else}}
      <p>You didn't write anything!</p>
    {{/if}}
  </div>
</div>