<div class="bulletins">
{{#each savedContent}}
  <div class="bulletin-wrapper">
    <div class="title">
    {{#link-to 'story' this}}
      {{title}}
    {{/link-to}}
  </div>
    <div class="subtext">
      <p><a {{bind-attr href="url"}} target="_blank"><i class="icon-external-link icon"></i> {{hostName}}</a>
      </p>
      <p>
      {{#if authorIsOrganization}}
        {{#link-to 'directory.show' author}}{{author.name}}{{/link-to}}
      {{/if}}
      {{#if authorIsUser}}{{author.fullName}}{{/if}}
      </p>
    </div>
  </div>
{{/each}}
</div>