<div class="bulletin-info">
  <h5>Author:
    {{#if authorIsOrganization}}
      {{#link-to 'd.show' author}}{{author.name}}{{/link-to}}
    {{/if}}
    {{#if authorIsUser}}{{author.fullName}}{{/if}}
  </h5>
  <h5>Posted {{humanizedCreatedAt}}</h5>
  {{#if authorIsOrganization}}
    <section {{bind-attr class=":links :animated isEditing:fadeOutRight"}}>
      {{social-link href=author.websiteUrl iconClasses="icon-large icon-globe"}}
      {{social-link href=author.facebookUrl iconClasses="icon-large icon-facebook"}}
      {{social-link href=author.twitterUrl iconClasses="icon-large icon-twitter"}}
      {{social-link href=author.youtubeUrl iconClasses="icon-large icon-youtube"}}
      {{social-link href=author.instagramUrl iconClasses="icon-large icon-instagram"}}
    </section>
  {{/if}}
</div>

<div class="bulletin-main">
  <div class="bulletin-header">
    {{#if isLink}}
      <a class="link" {{bind-attr href="url"}} target="_blank"><i class="icon-external-link icon-3x"></i></a>
    {{/if}}
    <h3 class="title">{{title}}</h3>
  </div>
  <div class="bulletin-body">
    {{body}}
  </div>

  <div class="bulletin-comments">
    <h3>Comments</h3>
    {{render 'comments/new' newComment}}
    {{render 'comments/index' savedComments}}
  </div>
</div>