<form {{bind-attr class="validUrl:success :bulletin-new"}} {{action 'submit' on='submit'}}>
  {{input value=url placeholder="Include http:// or https://"}}
  {{view Ember.Select contentBinding="possibleAuthors"
                    prompt="Who are you?"
                    optionValuePath="content"
                    optionLabelPath="content.name"
                    selectionBinding="assignedAuthor"}}
  <input type="submit" {{bind-attr disabled="errors"}} value="Submit">
</form>