<form class="bulletin-new" {{action 'submit' on='submit'}}>
  <div class='column'>
    <h2>Share link:</h2>
    <ul class='submit-errors'>
      {{#each errors}}<li {{bind-attr class='this.success::error :small'}}>{{this.msg}}</li>{{/each}}
    </ul>
  </div>
  <div class='column'>
    {{input value=url placeholder="Include http:// or https://"}}
    {{view Ember.Select contentBinding="possibleAuthors"
                      prompt="Who are you?"
                      optionValuePath="content"
                      optionLabelPath="content.name"
                      selectionBinding="assignedAuthor"}}
    <input type="submit" {{bind-attr disabled="formHasErrors"}} value="Submit">
  </div>
</form>