<nav>
  <div class="logo" {{action 'goHome'}}><span>College</span>Desis</div>

  <div class="title muted">

    {{#if storyPage}}
      {{currentStory.title}}
    {{else}}
      {{#if staticPage}}
        {{staticPage}}
      {{else}}
        News from {{numOfOrganizations}} South Asian student organizations all around America
      {{/if}}
    {{/if}}
  </div>

  <div class="account">
  {{#if currentUser}}
    {{#link-to 'me'}}
      <img height="14" {{bind-attr src="currentUser.imageUrl"}} />
      <span>Profile</span>
    {{/link-to}}
    {{#if currentUser}}<span {{action 'logout'}}>Sign out</span>{{/if}}
  {{else}}
    {{render 'login'}}
  {{/if}}
</nav>