<nav>
  <h1 class="logo" {{action goHome}}><span>College</span>Desis</h1>
  </ul>

  <div class="muted">
    News from {{numOfOrganizations}} South Asian student organizations all around America
  </div>

  <ul class="account">
  {{#if currentUser}}
    {{#link-to 'me' tagName="li"}}<img height="14" {{bind-attr src="currentUser.imageUrl"}} />Profile{{/link-to}}
    {{#if currentUser}}<li {{action logout}}>Sign out</li>{{/if}}
  {{else}}
    {{render 'login'}}
  {{/if}}
  </ul>
</nav>