<nav>
  <h1 class="logo" {{action goHome}}><span>College</span>Desis</h1>
  </ul>

  <div class="muted">
    {{#if storyPage}}
      {{currentStory.title}}
    {{else}}
      News from {{numOfOrganizations}} South Asian student organizations all around America
    {{/if}}
  </div>

  <div class="account">
  {{#if currentUser}}
    {{#link-to 'me'}}
      <img height="14" {{bind-attr src="currentUser.imageUrl"}} />
      <span>Profile</span>
    {{/link-to}}
    {{#if currentUser}}<span {{action 'logout'}}>Sign out</span>{{/if}}
  {{else}}
    {{render 'login'}}
  {{/if}}
  </ul>
</nav>