<form id="main-form" class="index right" {{action 'submit' on='submit'}}>
  <div class="row">
    <div class="header">Email</div>
    <div class="contents">
      {{input type='email' value=email}}
      {{#unless validEmail}}<span class="error">Use your own email</span>{{/unless}}
    </div>
  </div>
  <div class="row">
    <div class="header">Full Name</div>
    <div class="contents">
      {{input value=fullName}}
      <span class="error">and your own name</span>
    </div>
  </div>
  <div class="row">
    <div class="header">Password</div>
    <div class="contents">
      {{input type='password' value=password}}
      {{#unless validPassword}}<span class="error">at least six characters</span>{{/unless}}
    </div>
  </div>
  <div class="row">
    <div class="header">Confirmation</div>
    <div class="contents">
      {{input type='password' value=passwordConfirmation}}
      {{#unless passwordMatch}}<span class="error">does that match?</span>{{/unless}}
    </div>
  </div>
  {{#if controller.working}}
    Working...
  {{else}}
    <input type='submit' class="cta" {{bind-attr disabled="controller.errors"}} value='Sign up'>
  {{/if}}
</form>
<div class="main-inside-container right">
  <h3>Sign up</h3>
  <p>
    Earn reputation for your team, fundraise for events, and connect with South Asian students from all around America.
  </p>
  <p class="small muted">Learn <a href="n/how-to-sign-up">how to register</a>.</p>
</div>