<div {{bind-attr class="loading :radio"}}>
  <div class="radio-inner">
    <div class="radio-controls">
      {{#if currentTrack}}
        <a target="_blank" {{bind-attr href="currentTrack.json.permalink_url"}}><img height="30" src="http://developers.soundcloud.com/assets/logo_big_black-75c05c178d54c50c8ff0afbb282d2c21.png"></a>
      {{else}}
        <img height="30" src="http://developers.soundcloud.com/assets/logo_big_black-75c05c178d54c50c8ff0afbb282d2c21.png">
      {{/if}}
      {{#if playing}}
        <a class="pause radio-icon" {{action pause}}></a>
        <a class="forward radio-icon" {{action nextSong}}></a>
      {{else}}
        <a class="play radio-icon" {{action play}}></a>
      {{/if}}
    </div>
    <div {{bind-attr class="loading :now-playing :animated"}}>
      {{#if playing}}
        <a target="_blank" {{bind-attr href="currentTrack.url"}}>{{currentTrack.title}}</a> - {{currentTrack.artist}}
        {{else}}
          CollegeDesis Radio. Just hit play.
        {{/if}}
    </div>
    <div id="party"></div>
  </div>
</div>